body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #CEE5FD, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
